body {
  background-color: white;
}
.title {
  /* position: absolute; */
  text-align: center;
  font-size: 70px;
  background-image: url("background.png");
  width:100%;
  height:900px;
}
button {
  font-size: 25px;
  color:black;
  font-family: serif;
}
.first {
  display:none;
  position: relative;
  text-align: center;
  font-size: 70px;
  width:100%;
  height:500px;
}
.second {
  display:none;
  position: relative;
  text-align: center;
  font-size: 70px;
  width:100%;
  height:500px;
}
.third {
  display:none;
  position: relative;
  text-align: center;
  font-size: 70px;
  width:100%;
  height:500px;
}
.fourth {
  display:none;
  position: relative;
  text-align: center;
  font-size: 70px;
  width:100%;
  height:500px;
}
.fifth {
  display:none;
  position: relative;
  text-align: center;
  font-size: 70px;
  width:100%;
  height:500px;
}
.sixth {
  display:none;
  position: relative;
  text-align: center;
  font-size: 70px;
  width:100%;
  height:500px;
}
.seventh {
  display:none;
  position: relative;
  text-align: center;
  font-size: 70px;
  width:100%;
  height:500px;
}
.eigth {
  display:none;
  position: relative;
  text-align: center;
  font-size: 70px;
  width:100%;
  height:500px;
}
.ninth {
  display:none;
  position: relative;
  text-align: center;
  font-size: 70px;
  width:100%;
  height:500px;
}
.tenth {
  display:none;
  position: relative;
  text-align: center;
  font-size: 70px;
  width:100%;
  height:500px;
}
.eleventh {
  display:none;
  position: relative;
  text-align: center;
  font-size: 70px;
  width:100%;
  height:500px;
}
.twelfth {
  display:none;
  position: relative;
  text-align: center;
  font-size: 70px;
  width:100%;
  height:500px;
}
.thirteenth {
  display:none;
  position: relative;
  text-align: center;
  font-size: 70px;
  width:100%;
  height:500px;
}
