body {
  background:white;
  background-size: cover;
  margin:0;
}
#container {
  position:relative;
  width:1000px;
  height:90vh;
  background: white;
  margin:auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  overflow:auto;
}
#navBar {
  width:550px;
  height: 100px;
  margin:auto;
  background:white;
}
.button {
  float:left;
  width: 120px;
  height: 60px;
  background: lightblue;
  text-align: center;
  margin-left: 50px;
  margin-top: 10px;
  padding-top: 20px;
}
h1{
  color:white;
  font-size: 80%;
}
.article {
  width:280px;
  height:280px;
  background:white;
  float:left;
  margin-left: 50px;
  margin-top: 30px;
}
.article img{
  width:80%;
  margin-left: 10%;
  margin-top: 10px;
}
.article p{
  width:80%;
  margin-left: 10%;
  margin-top: 10px;
}
.title{
  width:80%;
  height:20px;
  margin-left: 10%;
  background: black;
}

.button:hover h1{
  opacity: 0.8;
}
.about {
  line-height: 50px;
  width:500px;
  height:500px;
  margin:auto
}
.about img{
  width:530px;
  height:700px;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 200px;
  margin-left: 300px;
  margin-bottom: 100px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
.pics img{
  width:250px;
  height:550px;
  margin:auto;
}
